.Result {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10px;
}

.Result .Points {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.ResultDetail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.ResultDetail a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 6vh;
    border-radius: 20px;
    border: 1px solid grey;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.ResultDetail a:hover{
    background-color: #037DCC;
    transition: 0.3s;
    color: #fff;
}
