.RankingLine{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 90%;
    padding: 2% 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 7px;
    font-size: 25px;
    font-weight: 500;
    border: 1px solid black;
    color: white;
}