.RankingLine{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #00336a;
    width: 90%;
    border-radius: 7px;
    font-size: 1.5rem;
    font-family: 'sfpromedium';
    color: white;
    margin-bottom: 1rem;
    padding: 1.2rem;
}

.RankingLine .position{

}


.RankingLine .name{
    
}


.RankingLine .points{
    
}


.RankingLine .position{
    
}