.Header{
    display: flex;
    align-items: center;
    width: 100%;

    font-family: 'sfprobold';
    background-color: #00336a;
    margin: 0px;
}

.Header-elements{
    display: flex;
    width: 100%;
    justify-content: space-between;
    height: 17vh;
}

.Header-elements .ImageContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
}

.Header-elements a img{
    width: 6vw;
}

.Header-elements .linkContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
}

.Header-elements .linkContainer a{
    font-size: 1.5rem;
    padding: 20px 30px;
    border-radius: 15px;

    margin: 10px;
    text-decoration: none;
    color: #fff;
}

.Header-elements .linkContainer a:hover{
    color: #dedede;
    
}

@media screen and (max-width: 950px) {
    .Header-elements .linkContainer{
        display: none;
        background-color: red;
    }

    .Header-elements a img{
        width: 6rem;
        margin-left: -1rem;
        
    }
}