.DataShow{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.DataShow h1{
    font-family: 'sfprobold';
    margin-top: 2rem;
}

.DataShow .DataContainer{
    margin-top: 3%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}