.RanksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rank1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
    border-radius: 20px;
    margin: 5%;
    margin-left: 0px;
}

.Rank2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
    border-radius: 20px;
    margin: 5%;
    margin-left: 0px;
}

.Rank3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
    border-radius: 20px;
    margin: 5%;
    margin-left: 0px;
}

.RankA {
    margin: 5%;
    width: 30%;
    text-align: center;
    background-color: #e9e9e9;
    padding-top: 2rem;
    border-radius: 2rem;
}

h1 {
    text-align: center;
}

.Ranking {
}

.ImgText Img{
    width: 10%;

}

.ImgText h1 {
    margin-left: 2%;
}

.ImgText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'sfpromedium';
    font-size: 2rem;
}

.RankTextImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: -3rem;
}

.RankTextImage h1 {
    margin-left: 1%;
}


.BulletinBoard {
    display: flex;
    justify-content: center;
    align-items: center;

}

.BulletinBoardIn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid grey;
    border-radius: 7px;
    margin-right: 0px;
    width: 60%;
    text-align: center;
}


