.RanksContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Rank1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
    border-radius: 20px;
    margin: 5%;
    margin-left: 0px;
}

.Rank2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
    border-radius: 20px;
    margin: 5%;
    margin-left: 0px;
}

.Rank3 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
    border-radius: 20px;
    margin: 5%;
    margin-left: 0px;
}

.RankA {
    margin: 5%;
    width: 30%;
    text-align: center;
    background-color: #e9e9e9;
    
    border-radius: 2rem;
}

h1 {
    text-align: center;
}

.Ranking {

}

.ImgText Img{
    width: 2rem;
    filter: invert(1);
    margin-right: 1rem;

}

.ImgText h1 {
    margin-left: 2%;
}

.ImgText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'sfprobold';
    font-size: 2rem;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    height: 6rem;
    background-color: #4f4f4f;
    color: white;
}

.RankTextImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: -3rem;
}

.RankTextImage img{
    width: 2.4rem;
    
}

.RankTextImage h1 {
    margin-left: 1%;
    font-family: 'sfprobold';
}


.BulletinBoard {
    display: flex;
    justify-content: center;
    align-items: center;

}

.BulletinBoardIn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    height: 10rem;
    margin-top: -4rem;
}

.BulletinBoardIn img{
    width: 1.4rem;

}

.BulletinBoardIn p{
    font-size: 1rem;
    font-family: 'sfpromedium';
    margin: 0;

}